.container {
  display: block;
  width: 900px;
  margin: 10px auto; }
  .container .content {
    border: 1px solid gray;
    background-color: #cccccc;
    padding: 10px;
    float: left;
    display: block;
    width: 580px; }
  .container .content-footer {
    clear: left; }
  .container .sidebar {
    border: 1px solid gray;
    background-color: #cccccc;
    padding: 10px;
    float: right;
    display: block;
    width: 270px; }
